<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rent a Car</title>
</head>
<body>
<form name="rentcustomeracar" th:object="${carRentDTO}" method="post" th:action="@{/car/rent}">
    <div class="card">
        <div class="container">
            <fieldset>
                <legend>Rent:</legend>
                <input type="hidden" th:value="${carRentDTO.carId}" th:name="carId"/>
                <table>
                    <tbody>
                    <tr>
                        <td><label>Car Brand</label></td>
                        <td><label th:text="${carRentDTO.getCarBrand()}"></label></td>
                    </tr>
                    <tr>
                        <td><label>Customer</label></td>
                        <td>
                            <select th:field="*{customerId}">
                                <option
                                        th:each="customer:${carRentDTO.getCustomerList()}"
                                        th:text="${customer.name}"
                                        th:value="${customer.id}">
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Rent date</td>
                        <td><input type="date" th:field="${carRentDTO.rentDate}"/></td>
                    </tr>
                    <tr>
                        <td>Return date</td>
                        <td><input type="date" th:field="${carRentDTO.returnDate}"/></td>
                    </tr>
                    <tr>
                        <td>
                            <button onclick="window.location='/car'; return false;">Cancel</button>
                        </td>
                        <td>
                            <button type="submit">Save</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    $("input[type=date]").datepicker({ dateFormat: 'dd-mm-yy' });
</script>
</body>
</html>